.Register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-right: 20%;
    padding-left: 20%;
}

.Register h1 {
    margin-bottom: -1%;
}

.form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form .input-field {
    display: flex;
    flex-direction: column;
    color: #0275d8;
    font-weight: bolder;
    font-size: 16px;
    width: 80%;
}

.form .btn {
    background-color: black;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    width: 50%;
    margin-top: 2.5vh;
    padding: 2px;
}

.form .btn:hover {
    background-color: #0275d8;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    width: 50%;
    margin-top: 2.5vh;
    padding: 2px;
}

.split-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.split-inputs .input-field {
    width: 50%;
}

.input-field input {
    border: none;
    font-size: 18px;
}