.hero-img {
    height: 300px;
    width: auto;
    opacity: .8;
    border-radius: 15px;
}

.left-div h1 {
    font-size: 42px;
    margin-top: -10px;
}

.left-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-right: 30px;
    height: 350px;

}

.left-div .sign-up-link {
    text-decoration: none;
    margin-top: 20px;
    padding: 10px;
    background-color: black ;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    color: white;
    width: 100%;
    text-align: center;
}

.left-div .sign-up-link:hover {
    text-decoration: none;
    margin-top: 20px;
    padding: 10px;
    background-color: #0275d8 ;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    color: white;
    width: 100%;
    text-align: center;
}

.landing-page {
    display: flex;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-right: 20%;
    padding-left: 20%;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 350px;
}

.hero .cta {
    color: gray;
}